/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Roboto;
    font-weight: 300;
}

img {
    object-fit: contain;
    width: 100%;
}
p {
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 1.4;
    opacity: 0.6
}

/* Section  */
.header {
    background: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ),url("images/background-img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;

}

/* -------------------------------------Navbar Section------------------------------------------- */
.navbar {
    display: flex;
    padding: 15px 140px;
    position: relative;
}
.logo {
    flex-basis: 40%;
    flex-shrink: 2;
}
.logo h1 {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
}
.navbar-link {
    flex-basis: 60%;
    padding-top: 5px;
}
.navbar-link ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-link ul li {
    list-style-type: none;
    padding: 0 20px;
}
.navbar-link ul li a{
    text-decoration: none;
    font-size: 1.0rem;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #fff;
}

/* Hamburger for mobile based  */
.hamburger {
    position: absolute;
    right: 50px;
    top: 22px;
    width: 10px;
    height: 100%;
    display: none;
}
.ham-lines {
    display: block;
    width: 25px;
    height: 3px;
    margin:5px 0;
    background-color: #fff;
    border-radius: 4px;
}


/* Profile */
.profile {
    width: 30%;
    margin: 100px auto;
    padding: 10px 30px;
    position: relative;
    box-shadow: 0 0 10px cyan;
    background-color: #000;
    backdrop-filter: blur(2px);
    text-align: center;
    border-radius: 10px;
    animation: profile-box 5.8s infinite ease;
}
.profile-info {
    width: 85%;
    position: absolute;
    top: -80px;
    padding: 15px 0;
    background: rgba(17, 190, 212, 0.219);
    backdrop-filter: blur(4px);
    border-radius: 10px;
}
.profile-img {
    height: 178px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    width:50%;
}
.name {
    font-size: 42px;
}
  
.niche {
    font-size: 17px;
    font-weight: 300;
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin:210px auto 0 auto;

}
.icons {
    width: 45px;
    opacity: 0.6;
    transition: opacity 0.2s ease;
    border: 1px solid cyan;
    padding: 8px;
    border-radius: 50%;
}
.icons:hover {
    opacity: 0.2; 
    transform: scale(1.2,1.2);     
}
/* Resume button  */
.resume {
    text-align: left;
    margin: 20px 20px 20px 30px;
}
.resume-btn {
    background-color: rgba(17, 190, 212, 0.3);
    font-weight: 300;
    font-size: 1.0rem;
    border: none;
    padding:10px;
    border-radius: 4px;
    transition: background-color 0.5s ease;
}
.resume-btn:hover {
    background-color: rgba(17, 190, 212, 0.419)
}

/* ------------------------------About Me Section------------------------------------------  */
.about {
    background: #000000f6;
    padding: 40px 0;
    text-align: center;
}
.section-head h2{
    font-size: 2.8rem;
    font-weight: 400;
}
.section-head hr {
    width: 60px;
    margin: 0 auto 6px auto;
    border-color:rgba(17, 190, 212, 0.419)
}
.section-head hr+hr{
    width: 40px;
}
/* about myself summary  */
.about-myself-summary {
    width: 80%;
    margin: 30px auto;
}
.about-myself-summary p {
    font-size: 0.95rem;
    font-weight: 300;
}
/* Personal Details  */
.personal {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 60px auto 30px auto;
    text-align: left;
}
.personal-details {
    flex-basis: 40%;
}
.personal h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 15px;
}

.personal-info {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.property {
    color:cyan;
    margin-bottom: 8px;
}
.value {
    margin-bottom: 8px;;
}
/* Interest  */
.interest {
    flex-basis: 40%;
}
.interest-boxes {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}
.box {
    flex-basis: 20%;
    margin: 0 20px 20px 0;
    padding: 10px;
    border: 1px solid cyan;
    border-radius: 10px;
    text-align: center;
}
.box span {
    display: block;
    opacity: 0.6;
}
.box span+span {
    font-size: 0.9rem;
}


/* -------------------------------Skills Section----------------------------------- */
.skills {
    background: #000000;
    padding: 40px 0;
    text-align: center;
}
.skills-set {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 60px auto 30px auto;
    text-align: left;
}
.skill-box {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    margin-right: 20px;
}
.skill-box-icon {
    position: relative;
    width: 150px;
    height: 150px;
    border: 1px solid cyan;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.skill-box-icon::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75px;
    height:var(--before-height);
    background-color: rgba(17, 190, 212, 1);
}
.skill-box-icon::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: var(--after-height);
    background-color: rgba(17, 190, 212, 1);
}
.skill-box-icon div {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    background-color: #000;
}
.skill-box-icon div span {
    font-size: 30px;
}
.skill-box-icon div span+span {
    font-size: 45px;
}

/* --------------------------------Projects----------------------------- */
.projects {
    background: #080707f6;
    padding: 40px 0;
    text-align: center;
}
.project-flex {
    width: 80%;
    margin:80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-card {
    position: relative;
    background: #000;
    width: 420px;
    height: 360px;
    margin: 20px 30px 20px 0;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s ease;
}
.project-card:hover {
    box-shadow: 5px 5px 5px rgba(10, 170, 182, 0.3);

}
.project-img{
    width:100%;
    height: 80%;
    overflow: hidden;
}
.project-img img {
    width: 150%;
    image-rendering: auto ;
}

.project-details{
    width:100%;
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.project-details h4{
    font-weight: bold;
    font-size: 1.2rem;
}
.frameworks span{
    border: 1px solid gray;
    background-color: gray;
    color: black;
    padding:2px 4px;
    font-size: 0.8rem;
    margin-right: 6px;
}

.project-link{
    display: none;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 80%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(10, 170, 182, 0.8)
    );
    z-index: 2;
    justify-content: center;
    align-items: center;
}
.project-link a {
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
}
.project-link a:hover {
    text-decoration: underline;
}
.project-img:hover .project-link{
    display: flex;
}





/* Media Query  */

/* Setting up hamburger lines and hidden the navbar-links  */
@media (max-width: 980px) {
    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
    .logo {
        flex-basis: 20%;
    }
    .navbar-link {
        flex-basis: 80%;
    }
    .profile {
        width: 50%;
        margin-top: 150px;
    }
    .profile-img {
        width: 55%;
    }
    .personal {
        flex-direction: column;
    }
}

@media (max-width:600px) {
    .navbar-link {
        display: none;
    }
    .profile {
        width: 70%;
    }
    
    .hamburger {
        display: block;
    }
    .skills-set {
        justify-content: space-around;
    }
    .project-details{
        flex-direction: column;
        text-align: left;
        padding: 5px 20px;
    }
    .project-details h4{
        margin-bottom:5px;
    }
}

/* Animation  */
@keyframes profile-box {
    0% {box-shadow: 0 0 5px cyan}
    20% {box-shadow: 0 0 10px  cyan}
    40% {box-shadow: 0 0 15px  cyan}
    60% {box-shadow: 0 0 20px  cyan}
    80% {box-shadow: 0 0 15px  cyan}
    100% {box-shadow: 0 0 10px  cyan}
}